pandas
tqdm
matplotlib
numpy
SciencePlots
scikit-learn
dgl==1.1.0  # Replace with the appropriate version based on your torch version
torch==2.0.1+cpu  # Use +cu117 for CUDA if on a GPU-enabled environment
torchdata==0.6  # Matches torch version
xlrd==1.2.0
streamlit
plotly

